# Django configuration
DEBUG=True
SECRET_KEY=django-insecure-change-me-later-to-something-secret
ALLOWED_HOSTS=*

# Database configuration
DB_NAME=nightlife_db
DB_USER=nightlife_user
DB_PASSWORD=nightlife_pass
DB_HOST=db
DB_PORT=5432

# Redis / Celery
REDIS_URL=redis://redis:6379/1
